## Problem Statement: Find the best 11 players based on the T20 world cup 2022 data

### Requirements:
1. The Team should score atleats 180 runs on an average 
2. The Team should be able to defend at least 150 runs on an average

### Openers : 2 players
|Parameters|Description|criteria|
|---|---|---|
|Batting Average|Average Runs scored in an innings|>30|
|Strike Rate|No. of runs scored per 100 balls|>140|
|Innings batted|Total number of innings batted|>3|
|Boundary % | % of runs scored in boundaries | >50|
|Batting Position| Orden at which they play| <4|

### Middle Order : 3 players
|Parameters|Description|criteria|
|---|---|---|
|Batting Average|Average Runs scored in an innings|>40|
|Strike Rate|No. of runs scored per 100 balls|>125|
|Innings batted|Total number of innings batted|>3|
|Avg balls faced | Average balls faced by the batter in a innings | >20|
|Batting Position| Orden at which they play| >2|

### Finishers : 1 player
|Parameters|Description|criteria|
|---|---|---|
|Batting Average|Average Runs scored in an innings|>25|
|Strike Rate|No. of runs scored per 100 balls|>130|
|Innings batted|Total number of innings batted|>3|
|Avg balls faced | Average balls faced by the batter in a innings | >12|
|Batting Position| Orden at which they play| >4|
|Innings bowled|Total innings bowled by the bowler|>1|

### Lower Order : 2 players
|Parameters|Description|criteria|
|---|---|---|
|Batting Average|Average Runs scored in an innings|>15|
|Strike Rate|No. of runs scored per 100 balls|>140|
|Innings batted|Total number of innings batted|>2|
|Batting Position| Orden at which they play| >4|
|Innings bowled|Total innings bowled by the bowler|>2|
|Bowling economy |Average runs per over| < 7|
|Bowling strike rate|Average no. of balls required to take a wicket|<20|

### Specilised fast bowlers
|Parameters|Description|criteria|
|---|---|---|
|Innings bowled|Total innings bowled by the bowler|>4|
|Bowling economy |Average runs per over| < 7|
|Bowling strike rate|Average no. of balls required to take a wicket|<16|
|Bowling Style|Bowling style of the player|Fast|
|Bowling Average|Average Runs per wicket|<20|
|Dot ball %|% of dot balls|>40%|

# Solution:

Extracting data from [ESPN website](https://www.espncricinfo.com/records/season/team-match-results/2022to23-2022to23?trophy=89) using [Power Automate](https://www.youtube.com/watch?v=DgBZiBIgh3w)

As the Data Collection is done we are ready with 4 CSV sheets filled with data which we're gonna prepare for our analysis

## Match Summary

In [9]:
import pandas as pd

In [15]:
file_path_match_summary = pd.read_csv(r"C:\Users\Yash Rajput\Desktop\Projects\End To End Cricket Data Analytics Project Using Web Scraping, Python, Pandas and Power BI\t20_csv_files\dim_match_summary.csv")
df_match_summary = pd.DataFrame(file_path_match_summary)
df_match_summary.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

In [8]:
df.shape

(45, 7)

In [13]:
#Treating scorecard as key to link other tables 
df.rename({'scorecard':'match_id'})
df.head()

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Namibia,Sri Lanka,Namibia,55 runs,Geelong,"Oct 16, 2022",T20I # 1823
1,Netherlands,U.A.E.,Netherlands,3 wickets,Geelong,"Oct 16, 2022",T20I # 1825
2,Scotland,West Indies,Scotland,42 runs,Hobart,"Oct 17, 2022",T20I # 1826
3,Ireland,Zimbabwe,Zimbabwe,31 runs,Hobart,"Oct 17, 2022",T20I # 1828
4,Namibia,Netherlands,Netherlands,5 wickets,Geelong,"Oct 18, 2022",T20I # 1830

## Batting Summary

In [16]:
file_path_batting_summary = r"C:\Users\Yash Rajput\Desktop\Projects\End To End Cricket Data Analytics Project Using Web Scraping, Python, Pandas and Power BI\t20_csv_files\fact_bating_summary.csv"
df_batting_summary = pd.DataFrame(file_path_batting_summary)
df_batting_summary.head()

ValueError: DataFrame constructor not properly called!